{% block title %}Детали рассылки{% endblock %}

{% block content %}
<h1>Детали рассылки</h1>
<p><strong>Дата и время начала:</strong> {{ mailing.start_time }}</p>
<p><strong>Дата и время окончания:</strong> {{ mailing.end_time }}</p>
<p><strong>Статус:</strong> {{ mailing.status }}</p>
<p><strong>Сообщение:</strong> {{ mailing.message.subject }}</p>
<p><strong>Клиенты:</strong>
    <ul>
        {% for client in mailing.clients.all %}
            <li>{{ client.email }}</li>
        {% endfor %}
    </ul>
</p>
<a href="{% url 'mailing_list' %}">Вернуться к списку</a>
{% endblock %}